@charset "utf-8";
/* CSS Document */

#container{
	width:100%;
	background-color:#80FFFF;
	margin:0px;
}

#head{
	width:100%;
	background-color:#FFF;
	margin:0px;
}

#nav_bar{
	width:100%;
	background-color:#FFF;
	margin:0px;
}

/*Slide show style of the individual page banner*/
#banner{
	width:100%;
	margin:auto;
	display:block;
	height:300px;
}

#banner_con{
	overflow:auto;
}

#prev_banner{
	background-image:url(../Photoshopped%20images/left-arrow.png);
	background-repeat:no-repeat;
	background-position: center center;
	display:block;
	float:left;
	height:300px;
	width:20px;
	position:relative;
	z-index:10;
}

#next_banner{
	background-image:url(../Photoshopped%20images/right-arrow.png);
	background-repeat:no-repeat;
	background-position: center center;
	display:block;
	float:right;
	height:300px;
	width:20px;
	position:relative;
	z-index:10;
}

#slider{
	display:block;
	margin:auto;
	float:left;
	height:300px;
	width:100%;
	overflow:hidden;
	position:absolute;
}
/* end of the banner slide show style*/

#body{
	width:80%;
	margin:0px;
	margin-left:10%;
	margin-right:10%;
}

#footer{
	width:100%;
	background-color:#000;
	margin:0px;
}

.centerHor{
	margin-left:25%;
	margin-right:25%;
}