@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Dimbo Regular';
	src: url('../webfonts/Dimbo Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'ERASBD';
	src: url('../webfonts/ERASBD.TTF') format('truetype');
}

body{
	background-color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#000;
	margin:0 auto;	
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	background-image:url(../Images/icons/bg.jpg);
	background-attachment: fixed;

}

#container{
	width:1100px;	
	padding:0;
	margin:0 auto;	
}

/*--header--*/
#header{	
	width:100%;
	margin-top:0;
	padding-top:0;	
	border:1px solid #FFF;
	height:125px;
	background:#F2FFFE;/*#5D4B33*/
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	background-image:url(../Images/Banners/Header.jpg);
}

#logo{
	width:142px;
	height:135px;
	display:inline-block;		
	margin-top:-2px;
}

#logo a{
	display:block;
	text-align:center; /*check again, need: display: in-line???*/
}
/*
.slogan{
	vertical-align:bottom;
	display:inline-block;
	color:black;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.liftup{
	font-size:1.8em;
	color:orange;
}

.refresh{
	font-size:1.8em;
	color:blue;
}

.delicious{
	font-size:1.8em;
	color:pink;
}
*/

/*--Social icons--*/
#social_icons{
	height:20px;
	float:right;
	margin-top:-14px;
	padding-top:0;
}

#social_icons ul{
	list-style-type:none;
}

#social_icons ul li{	
	margin:0 2px;
	padding:0;
	float:left;
}

#social_icon ul li a{
	display:block;
}

#nav_bar{	
	margin-top:1.5%;
	height:50px;	
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	border-top: 1px solid #ffcb85;
	border-bottom:1px	solid #ffcb85;
	font-family: 'Dimbo Regular';
	font-size:20px;
	background-color:#6b3e26;
}

#nav_bar ul{
	list-style-type:none;
	margin:0 auto;
}
#nav_bar ul li{
	float:left;
	margin:0;
}

#nav_bar ul li a, .dropbtn{
	display:block;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	text-decoration:none;
	height:40px;
	padding:2.5px 5px;
	margin:2.5px 5px;
	font-size:1.5em; /*remember to change on the drop-down */
	color:#fdf5c9;
}
#nav_bar ul li a:hover{
	background-color:#fdf5c9;
	text-shadow:none;
	color:#6b3e26;
}

a:link, a:visited{
	color:#FFF;	
}

a:hover, a:active{
	color:#FFF;
}

#nav_bar a:hover, #nav_bar a:active,
#nav_bar .active a:link, #nav_bar .active a:visited{
	background-color:#fdf5c9;/*green lemon*//*inital: pink*/
	text-shadow:none;
	color:#6b3e26;
}

.active_product{
	background-color:orange;
	text-shadow:none;	
}

/*CSS for dopdown Products*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style The Dropdown Button */
.dropbtn{
	/*background-color: #FFF;*/
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#6b3e26;
    min-width: 12em;
    box-shadow: 0px 8px 16px 0px #ffcb85;
    padding: 12px 16px;
    z-index: 1;
	font-size:0.7em;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

/* Links inside the dropdown */
.dropdown-content > a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;	
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content a:hover {
	background-color: yellow;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover a.dropbtn {
	text-shadow:none;
	background-color:orange;
	
}

/*--//CSS for dopdown Products--*/


/*--//header--*/


.clearfix{
	clear:both;
}


/*==================================================SEARCH BOX====================================*/
/*--search_box--*/ /*Go back later to check out how to fix it latter: 05/01/2015*/
/*
#search_box{
	background-color:#c2f2d0;
	float:right;
	width:19%;
	height:80px;
	margin:2% 0 0 1%;
	background: 1px solid back;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.search {
    display: none;
    position: absolute;
    top: 100%;
    right: 22.5%;
	background-color:#fff;
	z-index: 99;
    padding: 1em 2em;
}
.search form.navbar-form {
	padding: 0;
	margin: 1em 0;
}
.search input[type="text"] {
    margin: 0px 0;
    padding: 6px 10px 6px 15px;
    outline: none;
    color: #000;
    background: none;
    border: 1px solid #F07818;
    font-size: 1em;
    -webkit-appearance: none;
    width: 70%;
    border-radius: inherit;
}
.search button.btn.btn-default {
    border: none;
    background: #F07818;
    border-radius: inherit;
    float: right;
    width: 30%;
    color: #fff;
    padding: 0.5em;
}

.header-right.search-box:hover div.search {
	display:block;
}
.search form.navbar-form:before {
    content: '';
    position: absolute;
    right: 22px;
    top: -11%;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #FFFFFF;
}
*/
/*--//search_box--*/

#searchbox{
	background-color:#c2f2d0;	
	float:right;
	width:19%;
	height:107px;
	margin:2% 0 0 1%;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}


#search{
	width:90%;
	margin:0 5%;
	padding:0;
	height:35px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);	 
}


#submit_search{
	width:50%;
	height:30px;
	margin:0 25%;	
	cursor: pointer;
	font: bold 1em Arial, Helvetica;
    color: #6b3e26; /*chocolate*/   
	background-color:#fdf5c9;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

#submit_search:hover {       
    background-color:#6b3e26;   
	color:#fdf5c9;
}   

#submit_search:active {       
    background: #6b3e26;
    outline: none;
}

#submit_search::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

#search.placeholder {
   color: #9c9c9c !important;
   font-style: bold;
}


/*==================================================///SEARCH BOX: COME BACK LATER====================================*/



/*--sidebar_right_top--*/
#sidebar_right_top{
	float:right;
	width:19%;
	margin:2% 0 0 1%;
	height:200px;	
	overflow:hidden;
	background-color:#c2f2d0;
	background: 1px solid back;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

h3#label_support{
	font-size:1.7em;
	font-weight:300;
	text-align:center;
	color:#fdf5c9;
	border-top: 1px solid #ffcb85;
	border-bottom:1px	solid #ffcb85;
	background-color:#6b3e26;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:5%;
	padding:1%;
	font-family: 'Dimbo Regular';
	font-stretch:extra-expanded;
}

#sidebar_right_top img{
	width:25px;
	height:25px;
}

a.number{
	color:#6b3e26;
	font-size:1.1em;
	font-weight:400;
	text-decoration:none;
}
.img_phone{
	padding:0.8% 1.5% 0% 1.5% ;
}
.number:hover{
	color:orange;
}

.number span{
	font-size:1.5em;
	font-weight:800;
}

#MyLiveChatContainer img{
	width:90%;
	margin:0 5%;
	padding:0;
	height:70px;
}
/*--//sidebar_right_top--*/

/*--sidebar_right_bottom--*/
#sidebar_right_bottom{
	float:right;
	width:19%;
	margin:2% 0 0 1%;
	height:auto;	
	overflow:hidden;
	background-color:#c2f2d0;
/*	background-image: linear-gradient(#c2f2d0, #fff);*/
	background: 1px solid back;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;	
}

h3#label_reviews{
	font-size:1.65em;
	font-weight:300;
	text-align:center;
	color:#fdf5c9;
	border-top: 1px solid #ffcb85;
	border-bottom:1px	solid #ffcb85;
	background-color:#6b3e26;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:5%;
	padding:1%;
	font-family: 'Dimbo Regular';
	font-stretch:extra-expanded;
}

.review_detail{
	font-size:0.9em;
	color:#333;
	margin:0 auto;
	padding:3% 4%;
	text-align:justify;	
}

#leave_comments{	
	font-weight:300;
	color:#3C0;
	text-align:center;
	width:96%;
	margin:0% 2%;
	padding-bottom:5px;
}

#leave_comments h5 {
    padding-top:2%;
	padding-bottom:2%;	
	margin:7%;    
    font-size: 1.2em;
	font-family: 'Dimbo Regular';
	font-weight:100;	
	color:#fdf5c9;
	border-top: 1px solid #ffcb85;
	border-bottom:1px	solid #ffcb85;
	background-color:#6b3e26;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	
}

#leave_comments form{
	width:100%;	
}

#comments {
    width:90%;
	height:100px;
	margin:5%;
    padding: 0em;    
	overflow:auto;
    font-size: 0.9em;
    float: left;
    background-color: white;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


#submit_comments{
    width: 40%;
	margin: 5% 2% 5% 8%;    
	padding: 1%;	
	font: bold 1em Arial, Helvetica;
    color: #6b3e26; /*chocolate*/   
	background-color:#fdf5c9;
	cursor:pointer;
	float:left;

	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	outline: none;
    border: 1px solid #c2f2d0;    
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

#submit_comments:hover {       
    background-color:#6b3e26;   
	color:#fdf5c9;
}   

#submit_comments:active {       
    background: #6b3e26;
    outline: none;
}

#submit_comments::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}


#reset_comments{
	width: 40%;
	margin: 5% 8% 5% 2%;    
	padding: 1%;	
	font: bold 1em Arial, Helvetica;
    color:green;
	background-color:#fdf5c9 ;
	cursor:pointer;
	float:right;

	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	outline: none;
    border: 1px solid #c2f2d0;    
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

#reset_comments:hover {       
    background-color:white;   
	color:#ffc5d9;
}   

#reset_comments:active {       
    background: #6b3e26;
    outline: none;
}

#reset_comments::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}


/*--//sidebar_right_bottom--*/

/*--maincontent--*/
#maincontent{
	width:79%;
	margin:2% 1% 2% 0%;
	float:left;
	line-height:1.2em;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;	
}

/*--banner--*/
#banner{		
	height:300px;
	width:99%;
	padding:0;
	margin:0% 1% 2% 0%;
	position:relative;
	paddling-top:0;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;	
}


/*--//banner--*/

/*--products--*/
#products{
	width:99%;
	margin:0.5% 1% 1% 0%;
	padding:1% 0% 0% 0%;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}


h2#label_products{
	text-align:center;
	font-size: 2.5em;
	font-family: 'Dimbo Regular';    
    font-weight: 800;
	font-stretch:expanded;	
}
#label_products a{
	text-decoration:none;
	color:#fdf5c9;
	border-top: 1px solid #ffcb85;
	border-bottom:1px	solid #ffcb85;
	background-color:#6b3e26;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0% 5%;
}
#label_products a:hover{
	color:#6b3e26;
	background-color:#fdf5c9;
}

#content_products{	
	width:100%;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:0;
	padding:0;	
}

/*--//products--*/

/*--service--*/
#services{
	width:99%;
	margin:1% 1% 1% 0%;
	padding:2% 0% 0% 0%;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

h2#label_services{
	text-align:center;
	font-size: 2.5em;
	font-family: 'Dimbo Regular';
    font-weight: 800;
	font-stretch:expanded;
}

#label_services a{
	text-decoration:none;
	color:#fdf5c9;
	border-top: 1px solid #ffcb85;
	border-bottom:1px	solid #ffcb85;
	background-color:#6b3e26;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0% 5%;

}

#label_services a:hover{
	color:#6b3e26;
	background-color:#fdf5c9;
}

#content_services{	
	color:#09F; /*change when it hovers*/
	width:100%;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	
}

.grid_services{ /*for each service*/
	width:27%;
	margin:0% 2% 2% 2%;
	padding:1%;
	height:350px;	
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #c2f2d0; /*lightblue*/
	float:left;
}

.grid_services img{
	width:150px;
	height:150px;
	padding:3% 18%;
	margin:0 auto;
	text-align:center;
}

.grid_services h3{
	text-align:center;
	font-size: 2em;
	font-family:"Dimbo Regular";
	font-stretch:expanded;
	margin-top:2%;
	margin-bottom:2%;
}

.grid_services h3 a{
	text-decoration:none;
	color:#FC6;
    font-weight:800;
}

.text_justify{
	text-align:justify;
	padding-left:5%;
	padding-right:5%;
	line-height:1.5em;
	color:#6b3e26;
}

.grid_services:hover{
	border:2px solid #6b3e26;	
}

.grid_services:hover .text_justify, .grid_services:hover h3 a{/*change color when mouse hovers over each service*/
	color:#6b3e26;	
}

/*--//service--*/

/*--subscribe--*/
#subscribe{
	width:100%;
	height:200px;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:2% 0% 2% 0%;
	padding:0;
	background:url(../Images/icons/background-Small.jpg)repeat 0px 0px fixed;
	/*background-size:cover;*/
	text-align:center;
	padding:5px 0;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}
#subscribe form{
	width:100%;
	margin:0 auto;
}
#subscribe form input[type="text"] {
    border: 0;
    outline: 0;
    width: 60%;
	margin:0 0 0 5%; /*05/01/2016: change margin*/
    font-size: 1em;
    padding: 1em;
    color: #FFFFFF;
    float: left;
    background-color: rgba(251, 250, 250, 0.2);
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;

}
#subscribe form input[type="submit"] {
    outline: none;
    border: 1px solid #c2f2d0;/*#F07818*/
    width: 20%;
    padding: 0.92em;
    font-size: 1em;
    background: none;
    color: #fdf5c9;
    background-color:#6b3e26;/*#F07818*/
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;

}
#subscribe form input[type="submit"]:hover {
    background-color: #fdf5c9;
    color: #6b3e26;/*#F07818*/
}
/*--//subscribe--*/


/*footer*/
#footer_top{
	margin:2% 0% 0% 0%;
	width:100%;
    padding-top:0%;
	background-color: #fdf5c9; /*#f2f6f7;*/
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

#content_footer_top{
	width:90%;
	margin:0 auto;
	padding-bottom:1%;
}

.footer_grid{
	float:left;
	width:21%;
	margin:0% 2% 0% 1%;
	padding:0.5%;
}

.footer_grid h4{
    font-size: 1.1em;
    color: #F07818;
	font-family:"Dimbo Regular";
	text-transform:uppercase;
	font-size:1.4em;
	margin:2%;
}

.ul_footer{
	margin:0;
	padding:0;
}

.footer_grid ul{
	list-style-type:none;	
}

.footer_grid ul li a:link,.footer_grid ul li a:visited, .footer_grid ul li a:active{
    font-size: 1em;
    text-decoration: none;
    line-height: 1.5em;
    color:#6b3e26;    
    text-transform: capitalize;
}

.footer_grid ul li a:hover {
    color:orange; /*#F07818*/
}

.footer_grid ul li a img {
	text-align:left;
	margin-right:1%;
}

/*footer_bottom*/
#footer_bottom {
    background-color:#6b3e26;    
	text-align:center;
	height:45px;
    color: #fdf5c9;	
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
    
}
#footer_bottom p{
	padding-top:10px;
	margin-top:10px;
	font-size:0.9em;	
}

#footer_bottom span{
	margin: 0 2%;
}

#footer_bottom a:visited, #footer_bottom a:link, #footer_bottom a:active{
	text-decoration:none;
	color:#fdf5c9;
}

#footer_bottom a:hover{
	color:orange;
}

#footer_bottom img{
	width:15px;
	height:15px;
	margin-right:1%;

}
/*--//footer--*/


/*=============Product Categories============================*/
.content_3cols{	
	color:#6b3e26; /*change when it hovers*/
	width:100%;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:-1%;
	padding:0;	
}
.grid_1colsOf3{ /*for each service*/
	width:27%;
	margin:1.5%;
	padding:0% 1%;
	height:460px;	
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #F2FFFE; /*lightblue*/
	float:left;
	border:2px solid #ffcb85 ; 	
}

h3.product_headingh3{
	font-size:1.5em;
	text-align:center;
	margin:5%;
	padding:5%;
	font-family:"Dimbo Regular";
	font-weight:400;	
	background-color:#6b3e26;
	text-shadow:none;
	color:#fdf5c9;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.grid_1colsOf3 img{
	width:220px;
	height:220px;
	padding:1% 2%;
	margin:0 auto;
	text-align:center;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;	
}

.grid_1colsOf3 img:hover{
	border:1px solid #c2f2d0;
}

.grid_1colsOf3:hover{
	border:2px solid #6b3e26;	
}

h3.product_headingh3 a{
	text-decoration:none;
}

h3.product_headingh3 a:hover{
	color:#6b3e26 ;
}

h3.product_headingh3:hover{	
	background-color:#fdf5c9;
}

span.headprod_level1{
	font-size:2em;
	text-align:center;
	margin:0% 0% 0% 2%;
	padding:0%;
	font-family:"Dimbo Regular";
	font-weight:400;
	color:#6b3e26;	
}

span.headprod_level1 a:visited, span.headprod_level1 a:link, span.headprod_level1 a:active,
span.headprod_level2 a:visited, span.headprod_level2 a:link, span.headprod_level2 a:active{
	color:#6b3e26;
	text-decoration:none;
}

span.headprod_level1 a:hover, span.headprod_level2 a:hover{
	color:orange;
}

span.headprod_level2{
	font-size:1.8em;
	text-align:center;
	margin:0%;
	padding:0%;
	font-family:"Dimbo Regular";
	font-weight:400;
	color:#6b3e26;	
}

span.headprod_level3{
	font-size:1.5em;
	text-align:center;
	margin:0%;
	padding:0%;
	font-family:"Dimbo Regular";
	font-weight:400;
	color:#6b3e26;	
}
span.arrow{
	color:green;
	font-size:2em;
	margin:0% 0.1%;
	font-weight:900;
}




span.item_price{
	color: #000;
    font-size: 1em;
    font-weight: 600;
    margin: 10px 0 5px;
	display:block;
}

.item_quantity {
    padding: 6px;
    width: 20%;
    text-align: center;
}
.items {
    margin: 12px 0 0px 66px;
}
p.disc {
    margin: 0;
}
p.pric1 {
    margin: 0;
}

/*
#content{
	float:left;
	height:auto;
	padding-left:20px;
	padding-right:20px;
}

#content h1{
	color:#3C0;
}
*/


/*============================Upcomming events===================================*/

/*iframe on Upcoming events*/
#upcoming_events iframe{
	width:98%;
	margin:0 auto;
	border-width:0;
	height:400px;
	frameborder:20px;
	scrolling:no;
}

h2.page_headingh2{
	color: #6b3e26;
	font-size:2em;
	margin-top:0%;
	font-family:"Dimbo Regular";
	font-weight:400;
}

h3.page_headingh3{
	font-size:1.5em;
	margin:0% 78% 0% 0%;
	padding:1%;
	font-family:"Dimbo Regular";
	font-weight:400;	
	background-color:#6b3e26;
	text-shadow:none;
	color:#fdf5c9;
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
}

.italic_bold{
	font-style:italic;
	font-weight:bold;
	color:#6b3e26;
}

.italic_bold_green{
	font-style:italic;
	font-weight:bold;
	color:green;
}

.discount{
	color:red; 
	font-size:large;
}

/*===============About-us page==========================*/
#about{
	margin:0 2%;		
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:1.2em;
}
#about p{
	line-height:1.2em;
}

a.anc_5outlets:link,a.anc_5outlets:visited, a.anc_5outlets:active,
a.anc_product:link, a.anc_product:visited, a.anc_product:active,
a.anc_link:link, a.anc_link:visited, a.anc_link:active{
	font-weight:bold;
	color:blue;	
	text-decoration:none;
}

a.anc_5outlets:hover, a.anc_product:hover, a.anc_link:hover{
	color:orange;
}

#vision, #mission{
	font-weight:bold;
	font-size:1.1em;
	color:#6b3e26;
}

#about ul{
	list-style-type: none;
}

li.ice{
	background: url(../Images/icons/ice2.png) no-repeat left top;
	height: 45px;
	padding-left: 40px;
	padding-top: 3px;
}
/*--//about us--*/

/*=====================Contact page==================================*/
#contact{
	margin:0 2%;		
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:1.2em;
}
#contact ul{
	list-style-type: none;
	line-height:1.8em;
}
li.phone{
	background:url(../Images/icons/phone.png) no-repeat left top;
	padding-left:4%;		
}
li.mail{
	background: url(../Images/icons/mail.png) no-repeat left top;
	padding-left:4%;
}
li.loc{
	background: url(../Images/icons/loc.png) no-repeat left top;
	padding-left:4%;
}

#list_outlets{
	float:left;
	width:40%;
}

#contact iframe{
	width:55%;
	margin:0 auto;
	border-width:0;
	height:500px;
	frameborder:10px;
	scrolling:no;
	float:right;
}
/*================faq===================*/
.fqa_questions{	
	font-weight:bold;
	font-size:1.2em;
	color:#6b3e26;
}


/*=================membership================*/

#membership{
	line-height:1.5em;
}

#membership form label {
	display:inline-block;
	width:140px;
}

#membership form input[type="text"],
#membership form input[type="password"],
#memebership form input[type="email"] {
	width:160px;
}

#membership form .line {
	clear:both;
	margin:2%;
}

#membership form .line.submit{
	text-align:right;
}


/*==================================================================My and Riska=============================================*/
/*<-------------------Shopping Cart-------------------------*/
#shoppingcart_body{
	height:800px;
}

.simpleCart_items{
	float:left;
	clear:left;
	width:100%;
	margin:30px;
	color:#6b3e26;
}

.simpleCart_items table{
	border:thick solid #6b3e26;
	padding:5px;
	width:90%;
}

.simpleCart_items table th{
	background-color:#c2f2d0;
	padding:5px;
	border-bottom:#6b3e26 medium solid;
}

.simpleCart_items table td{
	padding:5px;
}

.simpleCart_items a{
	text-decoration:none;
	color:#F07818;
}

#shoppingcart_total{
	float:left;
	clear:left;
	text-align:left;
	font-size:1.2em;
	margin-left:10px;
/*	color:#FFB062;*/
color:black;
	margin-top:15px;
}

.simpleCart_total{
	float: left;
	margin-left: 10px;
	text-align: left;
	font-size: 1.3em;
	font-weight: normal;
	/*color: #fdf5c9;*/
	color:blue;
	font-family: "Dimbo Regular";
	letter-spacing: 0.2em;
	margin-top:15px;
}

.shoppingcart_button{
	float:right;
	clear:right;
	margin-top:10px;
	margin-right:20px;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
	background-color:#fdf5c9;
	/*color:#F07818;*/
	color:black;
	padding:5px;
	border:medium solid #FFB062;
}

.shoppingcart_button a{
	color:inherit;
	text-decoration:none;
}

.shoppingcart_button a:hover{
	color:#6b3e26;
}

#shoppingCart{
/*	width:90%;
	background-color:#6b3e26;
margin-top:0px;
margin-left:30px;
	height:60px;*/
	background-color:#F6C;
	border:1px solid black;
}

/*===================== Services page==================================*/
#site_service{
	margin:0 2%;		
	border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	line-height:150%;
	
}

a.services:link, a.services:visited, a.services:active{
	font-weight:bold;
	color:blue;	
	text-decoration:none;
}

a.services:hover{
	color:green;
}


/*===================== Order form ==================================*/
#orderForm {
    border-radius: 20px;
	border-color: #92F3AF;
	border-style: dashed;
	border-width: thick;
    width: 850px;
}
#orderForm input, #orderForm select, #orderForm textarea, #orderForm fieldset {
    float: left;
    margin-left: 10px;
    width: 300px;
    margin-bottom: 10px;
}
.orderForm_label {
    float: left;
    clear:both;
    width: 300px;
    text-align:right;
}
#orderForm fieldset input, #orderForm fieldset label, #submission input {
    float:none;
    width:auto;
}


/*===================== Feedback form ==================================*/
#feedbackForm {
    border-radius: 20px;
	border-color: #92F3AF;
	border-style: dashed;
	border-width: thick;
    width: 850px;
}
#feedbackForm input, #feedbackForm textarea, #feedbackForm fieldset, #feedbackForm radio {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.feedbackForm_label {
    float: left;
    clear: both;
    width: 300px;
    text-align:right;
}
#feedbackForm fieldset input, #feedbackForm fieldset label, #submission input, #feedbackFrom fieldset radio{
    float:none;
    width:auto;
}

#submission{
	text-align: center;
	clear: both;
	margin: auto;
}
